.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.pid
*.coverage
*.egg-info/
*.dist-info/
*.egg
*.whl
*.tar.gz
*.zip
*.bak
*.swp
*.tmp
*.DS_Store
.idea/
.vscode/
*.vscode/
*.pytest_cache/
*.mypy_cache/
*.tox/      
dist/